.tab-group {
	border-bottom: 1px solid rgb(223, 223, 223);
	border-top: 1px solid rgb(223, 223, 223);
}
.tab-group-default{ 
	line-height:2.05; 
	font-weight:normal;
	height:53px;
	box-shadow: 0px 11px 30px -22px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 11px 30px -22px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 11px 30px -22px rgba(0,0,0,0.6);
	border-bottom: 1px solid #bcbdc1;
  	border-top: 0;
}
.tab-group-small{
	border-bottom: none;
	border-top: none;
	background: url(../images/backgrounds/vert_dot_line.png) repeat-y 0 0 transparent;
}

//tight layout changes here
body.tight{
    //tabgroup
    .tab-group-default{
        height: 45px;
        line-height: 1.8 !important;
        .tab-group-item{
            height: 44px;            
        }
        
    }
}