<div class="error-handler">
	<ul>
		<li>
		    <i class="icon-less-than previous"></i>
		</li>
		<li>
	    	<span><span class="current-error-text">Error</span> <span class="current-error-number"></span> <span class="of-text">of</span> <span class="total-errors"></span></span>
		</li>
		<li>
	    	<i class="icon-greater-than next"></i>
		</li>
		<li>
	    	<span class="current-error"></span>
		</li>
		<li>
	    	<span class="current-error-view-details link-txt">View Details</span> 
		</li>
		<li>
		    <span class="vert-line"></span>
		</li>
		<li>
	    	<span class="go-to-source-link link-txt">Go to source</span>
		</li>
	</ul>
</div>