<div class="role-popover-tables">
    <div class="block-group">
        <mi-tool-bar>
            <mi-searchbox custom-search="true" no-auto-close="true" class="roleSearch" delay=500> </mi-searchbox>
        </mi-tool-bar>
        <div class="nav block">
            <mi-list-group selector="toggle"
                           multiselect="true"
                           key="key"
                           description="fullDisplayName"
                           page="1"
                           page-size="25"
                           scroll-percent="0.75"
                           custom-filter="true"
                           allow-add="false">
            </mi-list-group>
        </div>

    </div>
</div>