mi-column-group{
    section.columns-container{
        display: block;
	    position: relative;
        height:200px;
        overflow:hidden;
    }

    section.columns-toggle{
        float:right;
    }
}