.password-screen {
	width: 100%;
	height: 100%;

	.password-policy {
		width: 100%;
		height: calc(100% - 90px);
		overflow-y: scroll;
	}
	.password-header {
		width: 100%;

		.password-title {
			display: inline-block;
			width: 50%;
		}

		.password-buttons {
			display: inline-block;
			float: right;
		}
	}
}