<div class="role-screen block-group">
    <mi-breadcrumb delimiter="\" showfulltext></mi-breadcrumb>
    <mi-panel class="role-nav block"
              selctor="none"
              multiselect="false"
              key="name"
              description="name"
              page="1"
              page-size="25"
              scroll-percent="0.75"
              custom-filter="false"
              custom-search="false"
              allow-add="true"
              data-bind="attr: { title: translate('HOSTNAMES') },
                         event: {

                            selected: onHostSelected,
                            'add-item': onHostAdding
                         }">
        <mi-tool-bar>
            <a class="btn btn-icon"
               data-bind="attr: {title: translate('ADD')},
                click: onHostAdding, visible: canAdd">
                <i class="icon-plus"></i>
            </a>

        </mi-tool-bar>
    </mi-panel>

    <!-- ko if: selectedHost -->
    <div class="role-details panel block">
        <div class="panel-heading block-group">
            <div class="role-title block">
                <h2 data-bind="text: selectedHost().name"></h2>
            </div>
            <div class="button-panel pull-right"
                 data-bind="css: { loading: isLoading }">
                <div class="loading-med"></div>
                <a class="btn btn-icon"
                   data-bind="attr: {title: translate('SAVE')},click: save,
                              visible: canSave">
                    <i class="icon-save"></i>
                </a>
                <a class="btn btn-icon"
                   data-bind="attr: {title: translate('DELETE')},click: $root.delete,
                              visible: canDelete">
                    <i class="icon-bin"></i>
                </a>
            </div>
        </div>
        <div class="panel-body" data-bind="with: selectedHost">
            <div class="form-group">
                <label data-bind="text: $root.translate('NAME')"></label>
                <input type="text"
                       class="form-control"
                       data-bind="textInput: name" />
            </div>
            <div class="form-group">
                <label data-bind="text: $root.translate('IDPURL')"></label>
                <input type="text"
                       class="form-control"
                       data-bind="textInput: idpUrl" />
            </div>
            <div class="form-group">
                <label data-bind="text: $root.translate('SSOENABLED')"></label>&nbsp;&nbsp;
                <input class="priv-checkbox" type="checkbox" data-bind="checked: ssoAuthEnabled" />
            </div>
            <div class="form-group">
                <label class="hostname-warning" data-bind="text: $root.translate('SSO_WARNING')"></label>&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>