<mi-breadcrumb delimiter="\" showfulltext></mi-breadcrumb>
<div class="password-screen">
    <div class="panel-heading block-group password-header">
        <div class="heading-title block password-title">
            <h1 data-bind="text: translate('SEC_SHELL_PWD_POLICY')"></h1>
        </div>
        <div class="folder-buttons password-buttons">
            <a class="btn btn-icon" data-bind="click: save, visible: isDirty, attr: {title: translate('SAVE') }">
                <i class="icon-save"></i>
            </a>
            <!--
            <a class="btn btn-icon" data-bind="click: revert, attr: {title: translate('CLOSE')}">
                <i class="icon-close-tab"></i>
            </a>
            -->
        </div>
    </div>
    <div class="password-policy">
        <div class="panel-body" data-bind="foreach: passwordConfigs">
            <div class="form-group"
                 data-bind="if: (itemType == '2')">
                <label class="control-label text-box"
                       data-bind="text: description" />
                <select class="form-control config-value"
                        data-bind="value: value,  event: { change: $root.valueChanged.bind($root) }">
                    <option value="false"
                            data-bind="text: $root.translate('FALSE')"></option>
                    <option value="true"
                            data-bind="text: $root.translate('TRUE')"></option>
                </select>
            </div>
            <div class="form-group"
                 data-bind="ifnot: (itemType == '2')">
                <label class="control-label text-box"
                       data-bind="text: description" />
                <input class="form-control config-value"
                       data-bind="value: value,  event: { change: $root.valueChanged.bind($root) }"
                       type="text" />
            </div>
        </div>
    </div>
</div>