<div id="security-shell-screen">
    <div class="sec-manager-block-group">
        <!--<div class="nav-list-group sec-manager-main-menu">
            <ul class="list-group security-menu" data-bind="foreach: menuItems">
                <li class="list-group-item security-menu-item" data-bind="css: { selected: isActive }">
                    <a class="user-anchor security-menu-link-fix" data-bind="text: caption, attr: { href: href }" />
                </li>
            </ul>
        </div>-->
        <div class="sec-manager-content security-content">&nbsp;</div>
    </div>
</div>