.tile-group-item {

    .rectangle-box {
        @include clickable;
        height: 85px;
        /* This Gradient needs to be removed once JS to pick the below classes is included */
        @include gradient-vertical-to-top($start-color: #fff, $end-color: #e5f1ff, $start-percent: 0% , $end-percent: 100% );
        @include box-shadow(1px 1px 2px ButtonFace);
        border: solid 1px ButtonFace;
        position: relative;

        &:after {
            content: "";
            width: 100% ;
            height:5px;
            /* This background needs to be removed once JS to pick the below classes is included */
            background: $brand-primary;
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 0;
        }

         /* Blue tile */ 
        &.health-nodata {
            @include gradient-vertical-to-top($start-color: #fff, $end-color: #e5f1ff, $start-percent: 0% , $end-percent: 100% );
            &:after {
                background: $brand-primary;
            }
        }
        /* Green tile */
        &.health-normal {
            @include gradient-vertical-to-top($start-color: #fff, $end-color: #f0fcf2, $start-percent: 0% , $end-percent: 100% );
            &:after {
                background: #6ddf80;
            }
        }
        /* Orange tile */
        &.health-warning {
            @include gradient-vertical-to-top($start-color: #fff, $end-color: #fff6ea, $start-percent: 0% , $end-percent: 100% );
            &:after {
                background: #ff9500;
            }
        }
        /* Red tile */
        &.health-alert {
            @include gradient-vertical-to-top($start-color: #fff, $end-color: #ffebea, $start-percent: 0% , $end-percent: 100% );
            &:after {
                background: #ff3a31;
            }
        }
    }
    
    i {
        position:absolute;
        right:10px;
        top:10px
    }

    .number {
        font-size: 40px; 
        line-height:46px;
        color:#232323;
        padding: 10px 10px 0 10px;
        letter-spacing:-1px;
        display:block
    }

    .text {
        line-height:24px;
        font-size:$font-size-h2;
        color:#232323;
        padding: 0 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .active {
        @include gradient-vertical-to-top($start-color: #fff, $end-color: #e5f1ff, $start-percent: 0%, $end-percent: 100%);
        /*@include box-shadow(-1px -2px 2px ButtonFace);*/
        @include double-box-shadow(3px 0 3px -3px ButtonFace, -3px 0 3px -3px ButtonFace);
        height:96px;
        border-bottom:0 !important;
    }

    .rectangle-box.active:after {
            content:"";
            height:5px;
    }
	.rectangle-box.inactive-tile:after {
            content:"";
            height:1px;
    }
}

//tight layout changes here
body.tight{
    //Tile Group//    
    .tile-group-item {

        .rectangle-box{
            height: $tile-group-item-recbox-height-resize; //85px
        }
        .number{
            font-size: $tile-number-resize;
            line-height: $tile-line-height-resize;
        }
        .text{
            font-size: $tile-text-resize;
        }
    }
    mi-tile-group .tile-group{
        height: 75px;
    }
    .tile-group-item .active{
        height: 76px !important;
    }
    .dx-datagrid-rowsview.dx-datagrid-nowrap.dx-scrollable.dx-scrollable-customizable-scrollbars.dx-scrollable-both.dx-scrollable-simulated.dx-visibility-change-handler{
        //height: 42vh !important; //commenting for tile group result grid bottom space
    }
    .resultgrid-placeholder.rg-0{
        height: 62vh !important;
    }
}