<div class="user-screen block-group">
    <mi-breadcrumb delimiter="\" showfulltext></mi-breadcrumb>
    <div class="user-nav block"
         data-bind="css: { 'nav-collapsed': navCollapsed }">
               <mi-panel class="userPanel" selctor="none"
                  multiselect="false"
                  key="key"
                  description="displayName"
                  page="1"
                  page-size="25"
                  scroll-percent="0.75"
                  custom-filter="false"
                  custom-search="false"
                  allow-add="true"
                  data-bind="attr: { title: translate('USERS') },
                             event: {

                                selected: onUserSelected,
                                'add-item': onUserAdding
                             }">
            <mi-tool-bar>
                <mi-searchbox custom-search="true" no-auto-close="true" class="userSearch" delay=500 data-bind="visible: canSearch"> </mi-searchbox>
                <a class="btn btn-icon"
                   data-bind="attr: {title: translate('ADD')},
                    click: onUserAdding, visible: canAdd">
                    <i class="icon-plus"></i>
                </a>
                <mi-filter-no-ko custom-filter="false" data-bind="attr: { title: translate('FILTER_USERS') },visible: canSearch"></mi-filter-no-ko>
            </mi-tool-bar>
        </mi-panel>
    </div>

    <div class="user-details panel block"
         data-bind="visible: canDisplayUserDetails,
                    css: { 'nav-collapsed': navCollapsed }">
        <div class="panel-heading block-group">
            <!-- ko if: selectedUser -->
            <div class="user-title block">
                <h1 data-bind="text: selectedUser().displayName"></h1>
            </div>
            <!-- /ko -->
            <div class="button-panel pull-right"
                 data-bind="css: { loading: isLoading }">
                <div class="loading-med"></div>

                <a class="btn btn-icon"
                   data-bind="attr: {title: translate('SAVE')},click: save,
                              visible: canSave">
                    <i class="icon-save"></i>
                </a>
                <a class="btn btn-icon"
                   data-bind="attr: {title: translate('COPY')},click: copy,
                              visible: canCopy">
                    <i class="icon-duplicate-entries"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <mi-tab-group tabs="2" size="small">
                <mi-tab value="userDetails" data-bind="click: showUserDetails,attr: {text:$root.translate('DETAILS')}" selected="true"></mi-tab>
                <mi-tab value="userGroups" data-bind="click: showUserGroups,attr: {text:$root.translate('GROUPS')}"></mi-tab>
                <mi-tab value="userSites" data-bind="click: showUserSites,attr: {text:$root.translate('SITES')}"></mi-tab>
                <mi-tab value="userRoles" data-bind="click: showUserRoles,attr: {text:$root.translate('ROLES')}"></mi-tab>
            </mi-tab-group>
            <div data-bind=" visible: canShowUserDetails">
                <div class="user-detail-container block">&nbsp;</div>
            </div>
            <div data-bind=" visible: canShowUserGroups">
                <div class="user-detail-groups-container block">&nbsp;</div>
            </div>
            <div data-bind=" visible: canShowUserSites">
                <div class="user-detail-sites-container block">&nbsp;</div>
            </div>
            <div data-bind=" visible: canShowUserRoles">
                <div class="user-detail-roles-container block">&nbsp;</div>
            </div>
        </div>
     </div>
</div>