<div class="block-group">
    <div class="form-group">
        <input class="form-control" id="passwordCtrl" type="password" data-bind="value:confirmPassword, attr: {placeholder: translator.translate('RETYPE_CONFIRM_PASSWORD')}" />
    </div>
    <br>
    <div class="dialog-button-bar">
        <button class="btn pull-right btn" data-bind="click: closeDialog"><span data-bind="text: translator.translate('CANCEL')"/></button>
        <button class="btn pull-right btn" data-bind="click: changePassword"><span data-bind="text: translator.translate('OK')"/></button>
    </div>
</div>