mi-panel {
    @include mi-collapsible;
    
    &.collapsed {
        width: 30px !important;
    }

    section.expanded {
        display: none;
    }

    section.collapsed {
        display: block;
    }

    &.expanded {
        section.expanded, mi-list-group.list {
            display: block;
			padding-right: 0px;
			.btn.btn-icon{
				background: transparent;
			}
        }
		mi-tool-bar.expanded {
			display: block;
			padding-right: 0px;
			.btn-icon {
				min-height: 32px !important;
			}

		}
        section.collapsed {
            display: none;
        }
    }
	.mi-searchbox {
        height: auto;
		border-top: 2px solid $brand-primary;
		z-index: 9;
		&:before {
			border-bottom: 10px solid $brand-primary;
			bottom: 100%;
			left: 48px;
			content: '';
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			width: 0;
			height: 0;
			position: absolute;
			outline: 0;
		}
        input:focus {
			outline: none;
			border: 0px solid transparent;
			@include box-shadow(0px 1px 5px 0px rgba(0, 0, 0, 0.2));
			background: $dotted-divider left bottom repeat-x #ffffff;
			border-right: 1px solid #cccccc;
			height: 50px;
        }
		i.icon-multiply {
            z-index: 10;
			top: calc(50% - 7px);
			right: 15px;
			color: $brand-primary;
		}
    }

    section.expanded {
        height: auto;
        width: auto;
    }

    section.border-right {
        border-right: 1px solid #b5b5ba;
    }

    .border-shadaw {
        position: absolute;
        float: right;
        height: 49px;
        right: 0px;
        top: -1px;
        width: 8px;
        background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
        background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
        background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
        opacity: 0.051;
    }

    section.title {
        @include font-semi-bold;
        font-size: $font-size-h1;
        padding: 20px 15px;
        cursor: pointer;

        &.list-group-item.active-title {
            background: url(../images/backgrounds/dotted-divider-menu.png) left bottom repeat-x;
            background-color:  #f8f8f8 !important;
            border-left-width: 6px;
            border-left-color: $brand-primary;
            -webkit-box-shadow: 0px 13px 20px -15px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 13px 20px -15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 13px 20px -15px rgba(0, 0, 0, 0.2);
        }

        .chevron-border-style {
            border: 1px solid #f7f7f7;
            border-color: transparent;
            top: 0px;
            padding-top: 25px;
            padding-bottom: 25px;
            width: 30px;
            right: 0px;
            font-weight: normal;
            color: $brand-primary;
        }

        .block-group .chevron-border-style:hover {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0);
            @include box-shadow(inset 1px 2px 4px rgba(0, 0, 0, 0.05));
            border: solid 1px #e6e6e6;
        }

        div {
            span {
                float: left;
                width: 90%;
                overflow: hidden;
                text-overflow:ellipsis;
            }

            i {
                float: left;
                width: 10%;
                position: absolute;
                top: calc(50% - 9px);
                text-align: center;
            }
        }
    }

    section.sub-title div {
        height: 65px;
        border-right: none;

        span {
            display: block;
        }

        span:nth-child(1) {
            font-size: $font-size-h3;
        }

        span:nth-child(2) {
            font-size: $font-size-h5;
            margin-top: -7px;
        }
    }

    section.tabs {
        padding-top: 1px;
    }

    mi-list-group.list {
        height: calc(100% - 72px - 65px - 63px);
        @include scroll(visible, auto);
        display: none;

        .list-group {
            .list-group-item {
                border-left: 6px solid transparent;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);

                &:hover {
                    background-color: rgba(0, 122, 255, 0.1);
                }

                &.active {
                    border-right-color: $brand-primary;
                    border-right-width: 6px;
                    background-color: rgba(0, 122, 255, 0.1);
                }
            }

            .list-group-item.active {
                border-right-color: $brand-primary;
            }
        }
    }

    mi-tool-bar {
        border-right: none;
        background-color: rgba(255, 255, 255, 0.4);
        position: static;
        display: none;

        i {
            color: $brand-primary;
        }

        .btn-default {
            background-color: rgba(255, 255, 255, 0.4);
            border: solid 1px #e6e6e6;
        }

        .btn-default:hover {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0);
            @include box-shadow(inset 1px 2px 4px rgba(0, 0, 0, 0.05));
            border: solid 1px #e6e6e6;
        }

        .btn-icon {
            border: 1px solid rgba(255, 255, 255, 0);
            background-color: transparent;
            font-weight: normal;
            min-width: 0;
        }

        .btn-primary {
            background-color: rgba(255, 255, 255, 0.4);
            border: 1px solid rgba(255, 255, 255, 0);
            background-color: transparent;
            font-weight: normal;
            min-width: 0;
        }
        .btn-primary:hover {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0);
            @include box-shadow(inset 1px 2px 4px rgba(0, 0, 0, 0.05));
            border: solid 1px #e6e6e6;
        }

        .filter-color {
            color: $brand-primary;
        }
		mi-searchbox {
            i.icon-search {
                display: block;
                padding-top: 6px;
            }
        }
		
    }
}