mi-radio div:first-child {
}

.radio-container {
    height: 30px;
    margin: 0px auto;
    position: relative;
    padding: 5px 0px;
    display: inline-block;

    .radio-text {
        cursor: pointer;
        padding-left: 25px;
    }

    input[type=radio] {
        display: none;
    }

    label {
        border-radius: 100%;
        border: 1px solid #b3b3af;
        cursor: pointer;
        font-family: $font-family-semi-bold;
        height: 20px;
        position: absolute;
        top: 0;
        width: 20px;
        margin: 5px 0px;
    }

    label:after {
        background: $brand-primary;
        border-top: none;
        border-radius: 100%;
        border-right: none;
        border: 2px solid $brand-primary;
        content: '';
        height: 10px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 4px;
        transform: rotate(-45deg);
        width: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }

    label:hover, &:focus label {
        border: 1px solid $brand-primary;
    }

    label:disabled {
        border: 1px solid #e6e6e6;
    }

    input[type=radio]:checked + label:after {
        opacity: 1;
    }

    input[type=radio]:checked + label {
        border: 1px solid $brand-primary;
        opacity: 1;
    }

    input[type=radio]:disabled:checked + label {
        border: 1px solid #e6e6e6;
        opacity: 1;
        cursor: not-allowed;
    }

    input[type=radio]:disabled + label + span, input[type=radio]:disabled:checked + label + span {
        color: #e6e6e6;
        opacity: 1;
        cursor: not-allowed;
    }

    input[type=radio]:disabled + label, input[type=radio]:disabled + label:hover, input[type=radio]:disabled:checked + label:after {
        border-color: #e6e6e6;
        cursor: not-allowed;
    }

    input[type=radio]:disabled:checked + label:after {
        background: #e6e6e6;
        border-color: #e6e6e6;
        cursor: not-allowed;
    }

    input[type=radio]:required:invalid + label {
        border-color: red;
    }
}

.radio-noko-container {
    margin: 5px auto;
    position: relative;
    display: inline-block;

    label {
        margin: 0px;
    }

    .radio-text {
        cursor: pointer;
        padding-left: 25px;
        line-height: 22px;
    }

    input[type=radio] {
        display: none;
    }

    .radio-label {
        border-radius: 100%;
        border: 1px solid #b3b3af;
        cursor: pointer;
        font-family: $font-family-semi-bold;
        height: 20px;
        position: absolute;
        top: 0;
        width: 20px;
    }

    .radio-label:after {
        background: $brand-primary;
        border-top: none;
        border-radius: 100%;
        border-right: none;
        border: 2px solid $brand-primary;
        content: '';
        height: 10px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 4px;
        transform: rotate(-45deg);
        width: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }

    .radio-label:hover, &:focus .radio-label {
        border: 1px solid $brand-primary;
    }

    label:disabled .radio-label {
        border: 1px solid #e6e6e6;
    }

    input[type=radio]:checked + label > .radio-label:after {
        opacity: 1;
    }

    input[type=radio]:checked + label > .radio-label {
        border: 1px solid $brand-primary;
        opacity: 1;
    }

    input[type=radio]:disabled:checked + label > .radio-label {
        border: 1px solid #e6e6e6;
        opacity: 1;
        cursor: not-allowed;
    }

    input[type=radio]:disabled + label > .radio-text, input[type=radio]:disabled:checked + label > .radio-text {
        color: #e6e6e6;
        opacity: 1;
        cursor: not-allowed;
    }

    input[type=radio]:disabled + label > .radio-label, input[type=radio]:disabled + label:hover > .radio-label, input[type=radio]:disabled:checked + label > .radio-label:after {
        border-color: #e6e6e6;
        cursor: not-allowed;
    }

    input[type=radio]:disabled:checked + label > .radio-label:after {
        background: #e6e6e6;
        border-color: #e6e6e6;
        cursor: not-allowed;
    }
}
