<div class="hyperlink-utility-popup">
    <div class="form">
        <div class="form-group">
            <label class="control-label" data-bind="text: $root.translator.translate('HYPERLINK_UTIL_HASH')"></label>
            <input type="text" data-bind="value: hashurl" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-bind="text: $root.translator.translate('HYPERLINK_UTIL_FULL')"></label>
            <input type="text" data-bind="value: fullurl" class="form-control" readonly />
        </div>
    </div>
</div>