<div class="status-page">
    <div class="displ-img">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAABeCAMAAABbycflAAAAjVBMVEUAAAAAev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev8Aev+5Wsx7AAAALnRSTlMAcOAggBDQwDDw+2CZkwbaxI5lTPTpiiT4qp2DRDwbynZHQA3Oo0gqsXxpVhSznGtNFAAAAZRJREFUWMPt2NluozAAheEDAQpmDWtYQpLJ1m3O+z/eOCAx1FVakqum4ru09MuyfHfQSyor5Tecg7fDf0nIicIE6C15g2WAi5zS6sk3OlvtCsOPVl0FKSEpahMTvNeCZAIglE2DkSDiyFOAkUZWIbAjWWPM5gcFxnKSDTxy9Y6xoHRGjvigFaQPi4xwgw25QXopgWL9R1rbXyoCwCMdkDSAv5xEB2qSl0jDXv7TBClNbIdoQR0TWDLSHiMy5miO5miO5uhBo/aeaPHTI+MXR9oczdEczdGjRe0o2lPoEwiaQ/QK+IJTRBgiF5I5QQBAG6LPgriq4gCKryNbp6Tbt0RtRq/ZeczaG6KKMSSX1dUohsqx0LHSq9EWCpNHdI40odheIof0oVodrt6UkxkOpAVVyTdIbyyh2pARfJI2FIUjjPO5FmkBxZlkjh3JZ6jWGaVsDdUzSXkakjSg2see97qHymD/mhOlcoEJipLSaZiNRJRrrhRrnRej96L1YtfV8khQWt4zNt0/a3VOnuXwG9nGb9D5B1SFzbNsWl47AAAAAElFTkSuQmCC" />
    </div>
    <div class="desc">
        <span class="desc-1" data-bind="text: translateText('FEATURE_NOT_ACCESSIBLE')">Feature not accessible</span>
        <span class="desc-2"></span>
        <span class="desc-3" data-bind="text: translateText('FEATURE_NOT_ACCESSIBLE_MESSAGE')">This feature is not available for a screen of this size.</span>
    </div> 
</div>

