<div class="pattern pattern-dialog" >
    <div class="dialog-opacity-style"></div>
    <div class="dialog-wrapper">
        <section class="title">
            <div class="title-wrapper">
                <div class="title-container" data-bind="text: title, attr: {title: title}"></div>
            </div>
            <span class="close-dialog icon-close-popup"
            	data-bind="click: closeDialog, visible: showCloseIcon"></span>
        </section>
        <section class="content dialog-content"></section>
    </div>
</div>